@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

@font-face {
  font-family: "Kabob";
  src: url("../../fonts/kabobb.ttf");
  font-weight: normal;
  font-style: normal;
}

// $body-font: "Kabob", sans-serif;

@font-face {
  font-family: "Copperplate";
  src: url("../../assets/fonts/Copperplate-Gothic-Bold-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kabel";
  src: url("../../assets/fonts/kabel.ttf");
  font-weight: normal;
  font-style: normal;
}

$body-font: "Kabel", sans-serif;

body {
  font-family: $body-font;
}
