$black: #080808;
$brown: #864c39;
$background: #fafaf8;
$board: #cce3c6;
$dark-purple: #5e3577;
$light-blue: #addcf1;
$purple: #c63881;
$orange: #eb8c2a;
$red: #db2428;
$yellow: #fef102;
$green: #10a857;
$dark-blue: #0167a4;
