*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #fafaf8;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.board {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 15% 1fr 15%;
  height: 90rem;
  width: 90rem;
  overflow: hidden;
}

.board div {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}
.center {
  grid-row: 2 /3;
  grid-column: 2 / 3;
}
.go {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}
.free-parking {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.left-row {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.right-row {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.bottom-row {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.top-row {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.jail {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
.go-to-jail {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.left-row {
  height: 100%;
  width: 100%;
  background-color: red;
}

/* Spaces */
.corner .container {
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.corner .name {
  padding: 0;
}

.go {
  position: relative;
}
.go .container {
  transform: rotate(315deg);
}
.go .instructions {
  padding: 0 30px;
}
.go .go-word {
  font-size: 60px;
  color: red;
}
.go .arrow {
  font-size: 45px;
  color: red;
  position: absolute;
  bottom: -10px;
  left: 5px;
}
