*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafaf8;
  font-size: 1rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13% 1fr 13%;
      grid-template-columns: 13% 1fr 13%;
  -ms-grid-rows: 13% 1fr 13%;
      grid-template-rows: 13% 1fr 13%;
  height: 90rem;
  width: 90rem;
  overflow: hidden;
  border: 2px solid black;
}

.board div {
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.center {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.go {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.free-parking {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.left-row {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.right-row {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.bottom-row {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.top-row {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.jail {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.go-to-jail {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

/* Spaces */
.corner .container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
}

.corner .name {
  padding: 0;
}

.go {
  position: relative;
}

.go .container {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.go .instructions {
  padding: 0 30px;
}

.go .go-word {
  font-size: 50px;
  color: red;
}

.go .arrow {
  font-size: 45px;
  color: red;
  position: absolute;
  bottom: -10px;
  left: 5px;
}

.left-row {
  height: 100%;
  width: 100%;
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
}

.left-row .space {
  overflow: hidden;
  position: relative;
  border: 0.1rem solid black;
}

.left-row .space .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 1fr 20%;
      grid-template-rows: 20% 1fr 20%;
  -webkit-transform: rotate(90deg) translate(-30%, -17%);
          transform: rotate(90deg) translate(-30%, -17%);
  background-color: yellow;
  background-color: yellow;
}

.left-row .property .container .name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.left-row .property .container .price {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.left-row .property .container .color-bar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.right-row {
  height: 100%;
  width: 100%;
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
}

.right-row .space {
  overflow: hidden;
  border: 0.1rem solid black;
  position: relative;
}

.right-row .space .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 1fr 20%;
      grid-template-rows: 20% 1fr 20%;
  -webkit-transform: rotate(270deg) translate(30%, 18%);
          transform: rotate(270deg) translate(30%, 18%);
  background-color: yellow;
  background-color: yellow;
}

.right-row .property .container .name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.right-row .property .container .price {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.right-row .property .container .color-bar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.bottom-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.bottom-row .space {
  height: 100%;
  overflow: hidden;
  position: relative;
  border: 0.1rem solid black;
}

.bottom-row .space .container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 1fr 20%;
      grid-template-rows: 20% 1fr 20%;
  background-color: yellow;
  background-color: yellow;
}

.bottom-row .property .container .name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.bottom-row .property .container .price {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.bottom-row .property .container .color-bar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.top-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.top-row .space {
  height: 100%;
  overflow: hidden;
  position: relative;
  border: 0.1rem solid black;
}

.top-row .space .container {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 1fr 20%;
      grid-template-rows: 20% 1fr 20%;
  background-color: yellow;
  background-color: yellow;
}

.top-row .property .container .name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.top-row .property .container .price {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.top-row .property .container .color-bar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}
/*# sourceMappingURL=plain-board.css.map */